#{$all-buttons} {
  position: relative;
  $main: $medium-gray;
  $second: $light-gray;
  color: $main;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  border-color: $second;
  background-color: white;
  &.button-plain {
    color: $second;
    background-color: $main;
  }
  &:hover {
    @include transition(color .2s ease-out, background-color .2s ease-out);
    background-color: $light-green;
    color: white;
  }
}

