footer {
  @include clearfix;
  color: lighten($base-font-color, 10%);
  font-size: .8em;
  padding-bottom: .5em;
  > :first-child {
    float: left;
  }
  > :last-child {
    float: right;
  }
  > .love, > .cheers {
    @include media($mobile) {
      float: none;
      text-align: center;
    }
  }
}
