nav.navigation {
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $navigation-padding: 1em;
  $navigation-color: $dark-gray;

  $title-padding-top: 0.8em;

  @include media($mobile) {
    display: none;
  }

  position: fixed;
  top: 0;

  @include textured_background;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    padding-left: $navigation-padding;
    padding-right: 2em;

    h1 {
      color: $navigation-color;
      font-weight: bold;
      padding: $title-padding-top 0 0;
      > small {
        font-size: 0.75em;
        font-weight: 300;
        font-style: italic;
        > img {
          height: 1.1em;
          width: auto;
          vertical-align: text-bottom;
          margin-left: 3px;
        }
      }
    }
  }

  // Mobile view

  // Elements on the far right

  .navigation-tools {
    @include clearfix;
    display: block;
    padding: 0.6em $navigation-padding 0;
    float: right;
    .button-highlight:hover:after {
      right: $navigation-padding;
      left: $navigation-padding;
    }
  }
}
