@charset "utf-8";

@import "bourbon";
@import "neat";

@import "customs/background";

@import "base/base";

@import "customs/buttons";
@import "customs/rounded_hero";

@import "home";
@import "tos";
@import "navigation";
@import "heading";
@import "call-to-action";
@import "how";
@import "details";
@import "footer";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  @include outer-container;
  @include media($mobile) {
    padding-top: 0;
  }

}
