html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  > main {
    flex-grow: 1;
    margin-top: 6em;
    > section {
      @include row();
    }
  }
}

main > section {
}
