html {
  box-sizing: border-box;
  @include textured_background;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  .scrollable {
    display: flex;
    padding-top: 6em;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex-grow: 1;
    width: 100%;
    > section {
      @include row();
    }
  }
}
